extends layout

block content
  h1= title
  p Welcome to #{title} page.
  p My self Yallanki Hemanth. I am from Tirupathi, india i have come to usa to study my masters in Northwest missouri state university.
  button(type="button", class="btn btn-danger") Press Me
