extends layout

block content
  h1= title 
   - var results=[{movieName:"Inter stellar",movieRelasedDate:2013,moviePrice:20.0},{movieName:"Tales",movieRelasedDate:2014,moviePrice:10.0},{book_Name:"RRR",movieRelasedDate:2015,moviePrice:22.0}]
    div(class="container-fluid")
      div(class="row")
        div(class="col-sm-2") #{movieName}, #{movieRelasedDate}, #{moviePrice}